
body{
       background-color: #cccccc;
    }
ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    width: 100px;
    background-color: #cccccc;
  }
  
  li a {
    margin-top: 30px;
    display: block;
    color: white;
    padding: 50px 20px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  .about{
      width: 100%;
      margin-top: 50px;
  }
  .about img{
      width: 300px;
      height: 300px;
      padding: 10px;
      border-radius: 50%;
      box-shadow: 0 0 10px #999999;
  }
  .myself img{
    /* float: left; */
    width: 350px;
    height: 350px;
    padding: 6px;
    border-radius: 30%;
    box-shadow: 0 0 8px #999999;
  }
  .text{
      text-align: justify;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 .resume{
     width: 100%;
     margin-top: 50px;
 }
 .resume img{
     width: 500px;
     height: 500px;
     padding: 10px;
     margin: 2px 2px 8px 8px;
 }
  footer{
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: DarkSalmon;
    color: white;
    position: fixed;
    bottom: 0;
  }